body{
    background-color : #B8C2CC;
}

.clock{
    color: white;
    font-size: 90px;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

.clock h1{
    margin-top: 20px;
    margin-bottom: 5px;
}


.form,
.greetings{
    display: none;
    margin: 20px;
}

.form input{
    margin: 20px;
    font-size: 30px;
}

.toDoForm{
    text-align: center;
}

.toDoForm input{
    font-size: 30px;
}

.greetings-warp{
    text-align: center;
    margin: 20px;
}

.showing{
    display: inline;
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}

.editButton{
    font-size: 15px;
    display: inline;
    background-color: white;
    line-height: 25px;
    vertical-align: middle;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;    
    animation: fadeIn .5s linear;
}

.todoList{
    margin-left: 30%;
    list-style-type: none;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px darkslategrey;
}

button{
    background: Transparent;
    outline: none;
    border: none;
    margin-right: 5px;
    text-align: center;
    font-size: 20px;
}

.weather{
    position: fixed;
    top: 0; 
    right: 0;
    background-color: lightblue;
    width: 150px;
    text-align: center;
}


@media screen and (min-width:320px) and (max-width:850px){
    .clock{
        font-size:40px;
    }
}